body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f6fa;
  color: #02101c;
  font-size: 16px;
}

a {
  color: #47c1e2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

$backgroundColor: #f5f6fa;
$borderColor: darken($backgroundColor, 5%);

.button {
  cursor: not-allowed;
  display: inline-block; // Prevent width from expanding
  position: relative;

  background-color: #ddd;
  padding: 15px 30px;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  border-radius: 1000px;

  transition: all 0.2s;

  &:not(.disabled) {
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      opacity: 0.9;
    }

    &:active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(1px);
      opacity: 0.8;
    }

    &.purple {
      background-color: #8959ea;
      color: #fff;
    }

    &.green {
      background-color: #1dd1a1;
      color: #fff;
    }

    &.blue {
      background-color: #0abde3;
      color: #fff;
    }

    &.red {
      background-color: #ee5253;
      color: #fff;
    }
  }
}

input:not([type="file"]) {
  padding: 14px;
  border-radius: 4px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  }

  &:disabled {
    opacity: 0.7;
  }

  &.code {
    font-size: 20px;
    font-family: "Source Code Pro", sans-serif;
  }

  &.defined {
    border: solid 1px $borderColor;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    &:focus {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

textarea {
  padding: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  resize: none;
  border-radius: 4px;

  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.025);
  transition: box-shadow 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  }

  &:disabled {
    opacity: 0.7;
  }
}

// The create new screens that pop up.
.create-new {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p.description {
    max-width: 450px;
    font-size: 18px;
    line-height: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
  }

  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

code {
  background-color: #333;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  line-height: 1.3rem;
  font-family: "Source Code Pro", sans-serif;
  text-align: left;
  white-space: nowrap;
  overflow: scroll;

  .comment {
    opacity: 0.7;
  }

  &.light {
    background-color: $backgroundColor;
    color: #333;
  }
}

.hidden {
  opacity: 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  background-color: transparentize(#ee5253, 0.925);
  color: #ee5253;
  border: solid 1px #ee5253;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.6rem;
}
